body {
  width: 100%;
  min-height: 300px;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
article {
  width: 33, 3%;
}
